trigger:
- main

stages:
  - stage: Build
    jobs:
      - job: Build
        pool:
         vmImage: ubuntu-latest
        steps:
        - checkout: self 
        - task: TerraformInstaller@1
          displayName: Terraform Installer
          inputs:
            terraformVersion: '1.3.10'

        - task: TerraformTask@5
          displayName: Terraform Init
          inputs:
            provider: 'azurerm'
            command: 'init'
            backendServiceArm: 'Billing-Subscription(af504235-2f6d-4469-aa25-251f498730fc)'
            backendAzureRmStorageAccountName: 'azdevopsvenkat'
            backendAzureRmContainerName: 'terraform'
            backendAzureRmKey: 'first.tfvars'

        - task: TerraformTask@5
          displayName: Terraform Validate
          inputs:
            provider: 'azurerm'
            command: 'validate'
        - task: TerraformTask@5
          displayName: Terraform Format
          inputs:
            provider: 'azurerm'
            command: 'custom'
            outputTo: 'console'
            customCommand: 'fmt'
            environmentServiceNameAzureRM: 'Billing-Subscription(af504235-2f6d-4469-aa25-251f498730fc)'
        - task: TerraformTask@5
          displayName: Terraform Plan
          inputs:
            provider: 'azurerm'
            command: 'plan'
            commandOptions: '-out=tfplan'
            environmentServiceNameAzureRM: 'Billing-Subscription(af504235-2f6d-4469-aa25-251f498730fc)'
        # - task: ArchiveFiles@2
        #   displayName: Archive Terraform plan files
        #   inputs:
        #     rootFolderOrFile: '$(Build.SourcesDirectory)/'
        #     includeRootFolder: true
        #     archiveType: 'zip'
        #     archiveFile: '$(Build.ArtifactStagingDirectory)/$(Build.BuildId).zip'
        #     replaceExistingArchive: true
        # - task: PublishBuildArtifacts@1
        #   inputs:
        #     PathtoPublish: '$(Build.ArtifactStagingDirectory)'
        #     ArtifactName: '$(Build.BuildId)-build'
        #     publishLocation: 'Container'
        - publish: tfplan
          artifact: tfplan

  - stage: Release
    dependsOn: Build
    jobs:
    - deployment: Apply
      environment: prod
      strategy:
        runOnce:
          deploy:
            steps:
            - checkout: self

            - task: TerraformInstaller@1
              inputs:
                terraformVersion: '1.3.10'

            - download: current
              artifact: tfplan

            - script: ls -R $(Pipeline.Workspace)/tfplan
              displayName: List tfplan

            - task: TerraformTask@5
              displayName: Terraform Apply
              inputs:
                provider: azurerm
                command: apply
                commandOptions: '$(Pipeline.Workspace)/tfplan/tfplan'
                environmentServiceNameAzureRM: Billing-Subscription(af504235-2f6d-4469-aa25-251f498730fc)

